/* 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: beige;
}

/* 섹션 스타일 */
.select {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.selcet_input,
.selcet_output {
    text-align: center;
}

/* 박스 스타일 */
.box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.input,
.output {
    width: 45%; /* 각각의 너비를 조절할 수 있습니다. */
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

/* 반응형 스타일 */
@media screen and (max-width: 768px) {
    .select,
    .box {
        flex-direction: column;
        align-items: center;
    }

    .input,
    .output {
        width: 100%;
    }
    .trans_button{
        width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    }
}
